<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/application">
  <head>
    <title>Listing Players</title>
  </head>
  <body>
    <div class="container" layout:fragment="content">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="panel panel-default">
            <div class="panel-heading">
              Listing Players
              <a class="btn btn-default btn-xs pull-right" href="/players/new">新規作成</a>
            </div>
            <div th:unless="${players.size()}" class="panel-body">Playerが登録されていません</div>
            <table th:if="${players.size()}" class="table">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>名前</th>
                  <th>年齢</th>
                  <th>チーム名</th>
                  <th>守備位置</th>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="player:${players}" th:object="${player}">
                  <td th:text="*{id}"></td>
                  <td th:text="*{name}"></td>
                  <td th:text="*{age}"></td>
                  <td th:text="*{team}"></td>
                  <td th:text="*{position}"></td>
                  <td><a class="btn btn-default btn-xs" th:href="@{/players/{id}(id=*{id})}">参照</a></td>
                  <td><a class="btn btn-default btn-xs" th:href="@{/players/{id}/edit(id=*{id})}">編集</a></td>
                  <td>
                    <form th:action="@{/players/{id}(id=*{id})}" th:method="delete">
                      <input class="btn btn-default btn-xs" type="submit" value="削除" onclick="return confirm('削除します')" />
                    </form>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
