<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/application">
  <head>
    <title>Show Player</title>
  </head>
  <body>
    <div class="container" layout:fragment="content">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="panel panel-default">
            <div class="panel-heading">Show Player</div>
            <div class="panel-body" th:object="${player}">
              <div class="form-group">
                <label class="control-label">ID</label>
                <p class="form-control-static" th:text="*{id}"></p>
              </div>
              <div class="form-group">
                <label class="control-label">名前</label>
                <p class="form-control-static" th:text="*{name}"></p>
              </div>
              <div class="form-group">
                <label class="control-label">年齢</label>
                <p class="form-control-static" th:text="*{age}"></p>
              </div>
              <div class="form-group">
                <label class="control-label">チーム名</label>
                <p class="form-control-static" th:text="*{team}"></p>
              </div>
              <div class="form-group">
                <label class="control-label">守備位置</label>
                <p class="form-control-static" th:text="*{position}"></p>
              </div>
              <div class="pull-right">
                <a class="btn btn-default pull-left" th:href="@{/players/{id}/edit(id=*{id})}">編集</a>
                <form class="pull-right" th:action="@{/players/{id}(id=*{id})}" th:method="delete">
                  <input class="btn btn-default" type="submit" value="削除" onclick="return confirm('削除します')" />
                </form>
              </div>
            </div>
          </div>
          <div class="pull-right">
            <a class="btn btn-link" href="/players">一覧画面へ</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
